<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment/header::head"></div>


<body>
<div th:replace="fragment/sidebar::side"></div>

<div class="card-body">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>序号</th>
            <th>处理操作id</th>
            <th>投诉人姓名</th>
            <th>投诉原因</th>
            <th>投诉时间</th>
            <th>处理状态</th>
            <th>处理操作</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cs , rowInfo : ${list}" >
            <td class="table-info" th:text="${rowInfo.count}"> 1 </td>
            <td class="table-warning" th:text="${cs.getComplaintid()}"> Herman Beck </td>
            <td class="table-success" th:text="${cs.getName()}"> $ 77.99 </td>
            <td class="table-danger" th:text="${cs.getReason()}"> Photoshop </td>
            <td class="table-primary" th:text="${cs.getDate()}"> May 15, 2015 </td>
            <td class="table-success" th:text="${cs.getState()}"> $ 77.99 </td>
            <td class="table-primary" th:text="${cs.getOperation()}"> $ 77.99 </td>
            <td class="table-info">
                <a th:href="@{/complaint/updateAll(complaintid=${cs.getComplaintid()},current=${#request.getParameter('current')},size=10)}">修改</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/complaint/message(current=1,size=10)}">首页</a>
    <a th:href="@{/complaint/message(current=${i},size=10)}" th:each="i : ${#numbers.sequence(1,pagesCount)}"><span th:text="${i}" style="border: 1px solid #e3e3e3;height: 16px;width: 16px;text-align: center;vertical-align: middle;padding-left: 5px;padding-right: 5px;margin-left: 10px">1</span></a>
    <a th:href="@{/complaint/message(current=${pagesCount},size=10)}">尾页</a>
</div>

<div th:replace="fragment/footer::foot"></div>

</body>
