<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment/header::head"></div>

<body>
<!--侧边栏，利用模块fragment-->
<div th:replace="fragment/sidebar::side"></div>
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <!-- Page Title Header Ends-->
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="d-flex">

                                    <div class="wrapper my-auto ml-auto ml-lg-4">
                                        <canvas width="100" height="60" id="stats-line-graph-1"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mt-md-0 mt-4">

                            </div>
                            <div class="col-lg-3 col-md-6 mt-md-0 mt-4">

                            </div>

                            <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                                <div class="d-flex">

                                    <div class="wrapper my-auto ml-auto ml-lg-4">
                                        <canvas width="100" height="60" id="stats-line-graph-4"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->


    <!-- main-panel ends -->

    <!-- partial -->
</div>
<div th:replace="fragment/footer::foot"></div>
<span style="font-size:14px;type:botton"><a href="#">回到最顶端</a></span>

</body>
</html>