<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment/header::head"></div>
<body>
<div th:replace="fragment/sidebar::side"></div>
<!-- partial -->


<div class="card-body">
    <form class="forms-sample" th:action="@{/complaint/updateAllVerify(current=${current},size=10)}" method="post" onsubmit="return fun()">
        <script>
            function fun() {
                var x = document.getElementById("masterq");
                if(x.value == "true") {
                    // alert("尊敬的用户，您有该权限！");
                    return true;
                }
                else{
                    alert("尊敬的用户，您没有该权限！");
                    return false;
                }
            }
        </script>
        <div class="form-group">
            <label for="exampleInputEmail1">投诉id</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email" name="complaintid" th:value="${cs.getComplaintid()}">
        </div>
        <div class="form-group">
            <label for="exampleInputName1">投诉原因</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="reason" th:value="${cs.getReason()}">
        </div>
        <div class="form-group">
            <label for="exampleInputName2">投诉人姓名</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Name" name="name" th:value="${cs.getName()}">
        </div>
        <div class="form-group">
            <label for="exampleInputName3">投诉处理状态</label>
            <input type="text" class="form-control" id="exampleInputName3" placeholder="Name" name="state" th:value="${cs.getState()}">
        </div>
        <div class="form-group">
            <label for="exampleInputName4">投诉时间</label>
            <input type="tel" class="form-control" id="exampleInputName4" placeholder="Name" name="date" th:value="${cs.getDate()}">
        </div>
        <div class="form-group">
            <label for="exampleInputName4">投诉处理操作</label>
            <input type="tel" class="form-control" id="exampleInputName5" placeholder="Name" name="operation" th:value="${cs.getOperation()}">
        </div>

        <button type="submit" class="btn btn-success mr-2">确认</button>
        <button class="btn btn-light" th:action="@{/complaint.html/message(current=${current},size=10)}">取消</button>
    </form>
</div>

<div th:replace="fragment/footer::foot"></div>

</body>
</html>